body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
h1{ 
    font-size: 50px;}
.aquilius{color: red;} 
.section{
    display: flex;
    margin-bottom: 150px;
    text-align: justify ;
}
.naru{
    width: 50%;
    padding-left: 5%;
}
.naru img{
    width:80%;
    padding-left: 10%;
}
.hina{
    width: 50%;
    padding-left: 5% ;
    padding-right: 5%;
}
.hina img{
    width: 80%;
    padding-left: 10%;
}
.link-button{
    text-decoration:none ;
    background-image: linear-gradient(yellow,orange
    );
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 50px;
}
.naruto{
    color: yellow;
}
.degine{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.degi{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}