body{
    font-family: 'Poppins', sans-serif;
}
h1{ 
    font-size: 50px;}
.aquilius{color: red;} 
.section{
    display: flex;
    margin-bottom: 10%;
}
.felixble{
    width: 50%;
    padding-left: 70px;
}   
.felixble img{
    width: 70%;
}
.link-button{
    text-decoration:none ;
    background-image: linear-gradient(yellow,orange
    );
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 50px;
}
.naruto{
    color: yellow;
}